@keyframes mymove{
  0% {
    transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -o-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
  }
  50% {
    transform:rotate(0deg);
    -webkit-transform:rotate(0deg);
    -moz-transform:rotate(0deg);
    -ms-transform:rotate(0deg);
    -o-transform:rotate(0deg);
  }
  100%{
    transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -o-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
  }
}
@keyframes donutz {
  0% {
    transform: translate(-50%,-50%) scale(1,1) rotate(0deg);
  }
  100% {
    transform: translate(-50%,-50%) scale(1,1) rotate(360deg);
  }
}
@keyframes chest {
  0% {
    transform: translateX(-50%) scale(0,0) rotate(0deg);
  }
  100% {
    transform: translateX(-50%) scale(1,1) rotate(1080deg);
  }
}
@keyframes hook {
  0% {
    transform: translateX(-50%) rotate(25deg);
  }
  50% {
    transform: translateX(-50%) rotate(-25deg);
  }
  100% {
    transform: translateX(-50%) rotate(25deg);
  }
}
@keyframes drop {
  100% {
    height: 5.42rem;
    background-position: 0rem 0rem;
  }
}
/*内容*/
.content{
  position: absolute;
  width: 18.15rem;
  height: 9.70rem;
  color: #fff;
  background: rgba(255,255,255,0);
  transform: translate(-50%,-50%);
  left: 50%;
  top: 50%;
}
.exit{
  width: 1.62rem;
  height: 1.48rem;
  background-image: url("../images/exit.png");
  background-size: cover;
  position: absolute;
  right: 0;
  top: 1.46rem;
  z-index: 2;
}
.frame{
  width: 15.56rem;
  height: 9.42rem;
  position:absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}
.frame img{
  width: 15.56rem;
  height: 9.42rem;
  position: absolute;
  left: 0rem;
  top: 0rem;
  z-index: 3;
}
.hook{
  width: 1.18rem;
  height: 3.50rem;
  background-image: url("../images/hook.png");
  background-size: cover;
  background-position-y: -1.92rem;
  position: absolute;
  left: 50%;
  top: 0rem;
  transform: translateX(-50%);
  transform-origin:50% 0%;
  z-index: 2;
  animation:hook 4s ease-in-out infinite;
  -webkit-animation:hook 4s ease-in-out infinite;
  -o-animation:hook 4s ease-in-out infinite;
  -ms-animation:hook 4s ease-in-out infinite;
  -moz-animation:hook 4s ease-in-out infinite;
}
.hook.swing{
  /*animation-duration: 0s;*/
}
.background{
  width: 15.22rem;
  height: 8.98rem;
  background-image: url("../images/background.jpg");
  background-color: #000;
  background-size: cover;
  border-radius: 1.00rem;
  position:absolute;
  left: 50%;
  top: .3rem;
  transform: translateX(-50%);
  z-index: 1;
}
.cover{
  width: 100%;
  height: 100%;
  border-radius: 1.00rem;
  background-color: rgba(0,0,0,.7);
  display: none;
}
.gamepop{
  width: 9.20rem;
  height: 5.06rem;
  background-image: url("../images/gamepop.png");
  background-size: cover;
  position:absolute;
  left: 50%;
  top: 2.72rem;
  transform: translateX(-50%);
  z-index: 3;
  display: none;
}
.poptitle{
  font-size: .60rem;
  color: #804100;
  position:absolute;
  left: 50%;
  top: .48rem;
  transform: translateX(-50%);
}
.close{
  width: 1.20rem;
  height: 1.17rem;
  background-image: url("../images/close.png");
  background-size: cover;
  position: absolute;
  right: -.48rem;
  top: -.11rem;
}
.plus{
  width: .65rem;
  height: .65rem;
  position: absolute;
  left: 5.90rem;
  top: 1.34rem;
}
.plus i{
  display: block;
  width: .31rem;
  height: .31rem;
  background-image: url("../images/plus.png");
  background-size: cover;
  position: absolute;
  left: .17rem;
  top: .17rem;
}
.diamond{
  position: absolute;
  left: 4.02rem;
  top:1.43rem;
}
.diamond input{
  width: 1.60rem;
  font-size: .36rem;
  color: #ffda8a;
  background: transparent;
  text-align: right;
  line-height: .50rem;
  border:none;
  outline: none;
}
.minus{
  width: .65rem;
  height: .65rem;
  position: absolute;
  left: 2.63rem;
  top: 1.33rem;
}
.minus i{
  display: block;
  width: .31rem;
  height: .05rem;
  background-image: url("../images/minus.png");
  background-size: cover;
  position: absolute;
  left: .17rem;
  top: .31rem;
}
.own{
  font-size: .60rem;
  color: #804100;
  white-space: nowrap;
  position: absolute;
  left: 50%;
  top:2.16rem;
  transform: translateX(-50%);
}
.notify{
  font-size: .30rem;
  color: #a06c0e;
  white-space: nowrap;
  position:absolute;
  left: 50%;
  top: 3.03rem;
  transform: translateX(-50%);
}
.exchange{
  width: 1.98rem;
  height: .73rem;
  background-image: url("../images/exchange.png");
  background-size: cover;
  position:absolute;
  left: 50%;
  bottom: .60rem;
  transform: translateX(-50%);
}
.congrats{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0rem;
  top:0rem;
  z-index: 3;
  display: none;
}
.light{
  width: 8.23rem;
  height: 8.23rem;
  position: absolute;
  left: 50%;
  top: .80rem;
  transform: translateX(-50%);
}
.rolldonutz{
  width: 100%;
  height: 100%;
  background-image: url("../images/light.png");
  background-size: cover;
  position: absolute;
  left: 50%;
  top: 50%;
  animation:donutz 30s linear infinite;
  -webkit-animation:donutz 30s linear infinite;
  -o-animation:donutz 30s linear infinite;
  -ms-animation:donutz 30s linear infinite;
  -moz-animation:donutz 30s linear infinite;
}
.word{
  width: 3.60rem;
  height: 1.29rem;
  background-image: url("../images/word.png");
  background-size: cover;
  position: absolute;
  left: 50%;
  top: 1.26rem;
  transform: translateX(-50%);
}
.chest{
  width: 2.82rem;
  height: 3.01rem;
  background-image: url("../images/chest.png");
  background-size: cover;
  position: absolute;
  left: 50%;
  top: 2.64rem;
  transform: translateX(-50%);
  animation:chest 1s linear 1;
  -webkit-animation:chest 1s linear 1;
  -o-animation:chest 1s linear 1;
  -ms-animation:chest 1s linear 1;
  -moz-animation:chest 1s linear 1;
}
.description{
  font-size: .30rem;
  color: #ffeb4f;
  white-space: nowrap;
  position: absolute;
  left: 50%;
  top: 6.00rem;
  transform: translateX(-50%);
}
.reward i{
  font-style:normal;
}
/*开始按钮*/
.start{
  width: 1.98rem;
  height: .73rem;
  background-image: url("../images/start.png");
  background-size: cover;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}
/*竖屏遮罩样式*/
.appSize{
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #182035;
  z-index: 9999;
}
.appSize_box{
  position: absolute;
  left: 0;
  right: 0;
  top: 10%;
  height: 70%;
  text-align: center;
}
.appSize_img{
  width: 100%;
  height: 100%;
  float: left;
  background: url('http://static.ilongyuan.cn/ld/jcyf_web/images/appSize_img.png') 50% no-repeat;
  background-size: auto 80%;
  animation: mymove 3s infinite;
  -webkit-animation: mymove 3s infinite;
  -moz-animation: mymove 3s infinite;
  -ms-animation: mymove 3s infinite;
  -o-animation: mymove 3s infinite;
}
.appSize_txt{
  position: absolute;
  left: 0;
  right: 0;
  top: 80%;
  color: #fff;
  text-align: center;
  font-size: 1rem;
  line-height: 1.6;
}