*{
    margin:0;
    padding:0;
    text-decoration: none;
    list-style: none;
    font: 16px/20px 'PingFang SC',sans-serif;
    font: 14px/20px 'Microsoft Yahei',sans-serif;
    font-style: normal;
    font-weight: 400;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
    -o-transition: all .4s ease;
    -moz-transition: all .4s ease;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: #606060;
}
a{
    color:#000;
}
input,select,button{
    outline: none;
}
button{
    cursor: pointer;
}

#app{
    width: 1200px;
    height: 100%;
    margin:auto;
}
.root{
    height: 100%;
    position: relative;
}
.body{
    height: 100%;
    box-sizing: border-box;
    background-color: #eee;
    /*padding:0px 40px;*/
}
/*左浮动*/
.fl{
    float: left!important;
}
/*右浮动*/
.fr{
    float: right!important;
}
/*清除浮动*/
.clearFix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
/*遮罩*/
.mask{
    position: fixed;
    top:0;bottom: 0;
    left: 0;right: 0;
    background: rgba(0,0,0,.7);
    z-index: 999;
}
