.header{
	width: 100%;
	height: 50px;
	background-color: #333;
	display: flex;
	justify-content: space-between;
	position: absolute;
	top: 0px;
	left:0px;
	right:0px;
}
.nav{
	display: flex;

}
.nav>li{
	display: block;
	
}
.nav>li a{
	display: block;
	line-height: 47px;
	padding:0px 20px;
	color: #ccc;
}
.nav>li a:hover{
	color: #fff;
	border-bottom: 3px solid #cc3300;
	background-color: #3a3a3a;
}